{% extends "base.html" %}

{% block content %}
<div class = "row d-flex justify-content-center"> 
    <h1 class="mb-6 text-3xl"> Add tasks</h1>
    
    <form method="post" action = "{% url 'upload_task'%}"> 
        {% csrf_token %}
        <div class="container-fluid">
            <input type="text" class="form-control" placeholder="title" name="title" required> <br>
            
            <input type="textarea" class="form-control" placeholder="Enter Description of task" name="description"> <br>
            <input type="date" class="form-control" placeholder="Completion Date" name="due_date" required> <br>

        </div>
        <button type="submit" class="btn btn-primary" >Add task</button>
        <div> 
            {% for message in messages %}
            <h3> {{message}} </h3>
            {% endfor %}
        </div>

        
    </form>
</div>
{% endblock%}