{% extends "base.html" %}

{% block title%}
    Signin|page
{% endblock%}

{% block style %}
<style src="https://cdn.tailwindcss.com"></style>
{% endblock%}

{% block content%}
<div class = "tab-content" id="signin">
    <div class="container-fluid tab-pane active"> 
        <h3 class="mb-6 text-2xl"> Sign in</h1>
        <div> 
            {% for message in messages %}
            <div class="alert alert-danger  alert-dismissible fade show">
                <strong>{{message}}</strong>
              </div>
            {% endfor %}
        </div>
        
        <form method="post" action = "." class="needs-validation"> 
            {% csrf_token %}
            <div class="mb-3 mt-3">
                <label for="uname" class="form-label">Username:</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter username" name="username" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
                
            <button type="submit" class="btn btn-primary">SignIn</button>
            
            
        </form>
    </div>
</div>
{% endblock %}
